#home {
  background-color: #D23333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

p {
  font-size: 14px
}

h2 {
  font-size : 30px;
  font-weight: bold;
  color: #2b3940;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size : 18px;
  font-weight: bold;
  color: #2b3940;
}

.fa fa-heart {
  color:red;
}

#call-to-action {
width: 200px;
border-radius: 5px;
background-color: rgba(239, 71, 111, 1);
  &:hover {
      background-color: rgba(239, 71, 111, 0.6);
      }

}

.discret-color {
  background-color: #7e8d92;
}


