---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <h1>Trustykids</h1>
    <p>Quickly find people you can trust</p>
    <%= link_to "Start Now", "/team.html", class: "btn btn-danger btn-lg", id: "call-to-action" %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Babysitters</h2>

          </div>

          <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Tutoring</h2>

          </div>
          <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Exchange between parents</h2>

          </div>
          <a class="card-link" href="#" ></a>
        </div>
    </div>
  </div>
</div>



